demo-util/src/main/resources/META-INF/job.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.schemea.hyb.com/schema/job"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.schemea.hyb.com/schema/job"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- 配置job -->
    <xsd:element name="hyb">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required" />
            <xsd:attribute name="class" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>